body {
	font-family: 'PT Sans', sans-serif;
	padding-top: 50px;
}

#content {
	text-align: center;
}

.carousel {
	margin: 0 auto;
	width: 500px;
}
.carousel-inner img {
	width: 500px;
}

#skansonia_map {
	padding-top: 10px;
	height: 300px;
}