{% extends "base.html" %}

{% block content %}
<h1>The Wedding Ceremony</h1>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p class="text-justify">
			The ceremony will be aboard the <a href="http://www.skansonia.com/">MV Skansonia</a>, 
			a retired ferry, followed by lunch, local beer, wine and Pacific Northwest merriment.
		</p>
		<p class="text-justify">
			The dress is wedding, summertime-in-Seattle casual and it will most likely not rain.  
			But no promises.  Please no children or chickens for the ceremony – we can't be sure 
			that they won't float away.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<p>
			<strong>Ceremony Details</strong>
		</p>
		<p class="text-left">
			Saturday, September 5th, 2015<br/>
			12:00 – 4:00 pm (the ceremony will start at 12:30 pm)<br/>
			The MV Skansonia<br/>
			205 NE Northlake Way, “A” Dock<br/>
			Seattle, WA 98105<br/>
		</p>
	</div>
</div>

<div id="skansonia_map">
	<a href="http://goo.gl/maps/b642K"><img id="skansonia_map" src="/static/img/skansonia_map.png"/></a>
</div>
{% endblock %}