{% extends "base.html" %}

{% block content %}
	<h1>Ceremony Details</h1>
	<h2>Saturday, September 5th, 2015</h2>
	<h2>Noon - 4PM</h2>
	<h3>Aboard the <a href="http://www.skansonia.com/">MV Skansonia</a> on Lake Union in Seattle, WA</h3>
	<img style="width:500px;" src="/static/img/skansonia.jpg"/>

	<div id="skansonia_map">
			<a href="http://goo.gl/maps/b642K"><img id="skansonia_map" src="/static/img/skansonia_map.png"/></a>
			<p>205 Northeast Northlake Way Seattle, WA 98105</a>
	</div>
{% endblock %}