{% extends "base.html" %}

{% block title %}The Ceremony{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p class="text-justify">
			The ceremony will be aboard the <a href="http://www.skansonia.com/">MV Skansonia</a>, 
			a retired ferry, followed by lunch, local beer, wine and Pacific Northwest merriment.
		</p>
		<p class="text-justify">
			The dress is wedding, summertime-in-Seattle casual, and it will most likely not rain.  
			But no promises.  Please no children or chickens for the ceremony – we can't be sure 
			that they won't float away.
		</p>
	</div>
</div>

<h2>Ceremony Details</h2>
{% if not invitation %}
	{% include "rsvp_form.html" with return="ceremony"%}
{% else %}
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<p class="text-left">
				Saturday, September 5th, 2015<br/>
				12:00 – 4:00 pm (the ceremony will start at 12:30 pm)<br/>
				The MV Skansonia<br/>
				205 NE Northlake Way, “A” Dock<br/>
				Seattle, WA 98105<br/>
				[ <a href="http://goo.gl/maps/RhrHv">Map</a> ]
			</p>
		</div>
	</div>

	<iframe width="768" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 	src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=205+NE+Northlake+Way,+98105&amp;aq=&amp;sll=47.663862,-122.365593&amp;sspn=0.004567,0.010729&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=47.653527,-122.326192&amp;output=embed">
	</iframe>
{% endif %}

{% endblock %}