{% extends "base.html" %}

{% block title %}Hotels{% endblock %}
{% block nav_hotels %}active{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p class="text-left">
			Keep in mind this will be Labor Day weekend so if you are staying in a hotel you need to book soon.
		</p>
		<p class="text-left">
			The closest neighborhood to the wedding is the University District and two great choices for hotels are the
			<a href="http://www.watertownseattle.com" target="new">Watertown Hotel</a> and the
			<a href="http://www.universityinnseattle.com" target="new">University Inn</a>.  They offer a discount for
			weddings if you use the <strong>promotional code: WED</strong>.
			
		</p>
	</div>
</div>
{% endblock %}