{% extends "base.html" %}

{% block title %}Gift Registry{% endblock %}
{% block nav_registry %}active{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<p class="text-left">
			Since our friends and family are spread across the United States, we decided to register at both an online
			service and a store you can find anywhere.  For the online service we are using 
			<a href="https://www.zola.com/registry/jacobandkatiegetmarried" target="new">Zola</a> and for the store we chose 
			<a href="http://www1.macys.com/registry/wedding/guest/?registryId=2234378" target="new">Macy's</a>.
		</p>
		<p class="text-left">
			Please mail cards and gifts to Office Nomads.
		</p>
		<!--
		<ul>
			<li><a href="http://www.amazon.com/registry/wedding/2KCPZN351QGD8">Amazon Registry</a></li>
			<li><a href="https://www-secure.target.com/gift-registry/registry/V9fPZ73tKp4au-rP42PbPA">Target Registry</a></a>
		</ul>
		-->
	</div>
	
	<div class="col-sm-2">
		<p class="text-left">
		<strong>Mailing Address:</strong><br/>
		Office Nomads<br/>
		Jacob and Katie<br/>
		1617 Boylston Ave<br/>
		Seattle, WA 98122<br/>
		</p>
	</div>
</div>
{% endblock %}