{% extends "base.html" %}

{% block title %}Invitations by the Numbers{% endblock %}
{% block nav_admin %}active{% endblock %}

{% block content %}
<table class="table table-bordered">
	<tr>
		<th colspan="6"></th>
		<th class="text-center" colspan="2">Ceremony</th>
		<th class="text-center" colspan="2">West Virginia</th>
	</tr>
	<tr>
		<th class="text-center">Tier</th>
		<th class="text-center">Invitations</th>
		<th class="text-center">Sent</th>
		<th class="text-center">Unsent</th>
		<th class="text-center">Viewed</th>
		<th class="text-center">Unviewed</th>
		<th class="text-center">Estimated</th>
		<th class="text-center">Confirmed</th>
		<th class="text-center">Estimated</th>
		<th class="text-center">Confirmed</th>
	</tr>

	{% for dict in invites %}
		<tr>
			<td>{{ dict.tier }}</td>
			<td>{{ dict.invitations | length }}</td>
			<td>{{ dict.sent }}</td>
			<td>{{ dict.unsent }}</td>
			<td>{{ dict.viewed }}</td>
			<td>{{ dict.unviewed }}</td>
			<td>{{ dict.est_ceremony }}</td>
			<td>{{ dict.conf_ceremony }}</td>
			<td>{{ dict.est_wv }}</td>
			<td>{{ dict.conf_wv }}</td>
		</tr>
	{% endfor %}

	<tr>
		<th class="text-right" colspan="6">Totals</th>
		<th class="text-center">{{ total_est_ceremony }}</th>
		<th class="text-center">{{ total_conf_ceremony }}</th>
		<th class="text-center">{{ total_est_wv }}</th>
		<th class="text-center">{{ total_conf_wv }}</th>
	</tr>
</table>
{% endblock %}