{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Wedding Plan{% endblock %}
{% block cityscape %}<!-- No Cityscape -->{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h3 class="text-left">Friday September 9th</h3>
		<table class="table-bordered table-hover table-responsive">
			<tr>
				<th></th>
				<th class="text-center">Activitiy</th>
			</tr>
			<tr>
				<td>8 AM</td>
				<td>
					Jacob meets the rental company at Office Nomads
				</td>
			</tr>
			<tr>
				<td>9 AM</td>
				<td></td>
			</tr>
			<tr>
				<td>10 AM</td>
				<td></td>
			</tr>
			<tr>
				<td>11 AM</td>
				<td></td>
			</tr>
			<tr>
				<td>12 PM</td>
				<td></td>
			</tr>
			<tr>
				<td>1 PM</td>
				<td></td>
			</tr>
			<tr>
				<td>2 PM</td>
				<td>
					Jonathan picks up the wine at Domanico Cellars<br>
					and the beer at Hale's Ales
				</td>
			</tr>
			<tr>
				<td>3 PM</td>
				<td>
					Rehersal Aboard Skansonia
				</td>
			</tr>
			<tr>
				<td>4 PM</td>
				<td>
					Setup starts at Office Nomads
				</td>
			</tr>
			<tr>
				<td>5 PM</td>
				<td></td>
			</tr>
			<tr>
				<td>6 PM</td>
				<td>
					Rehersal Dinner at Office Nomads
				</td>
			</tr>
			<tr>
				<td>7 PM</td>
				<td></td>
			</tr>
			<tr>
				<td>8 PM</td>
				<td></td>
			</tr>
			<tr>
				<td>9 PM</td>
				<td>Clean up Office Nomads</td>
			</tr>
		</table>

		<p class="text-left">
		</p>
	</div>
</div>
{% endblock %}