{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Wedding Plan{% endblock %}
{% block cityscape %}<!-- No Cityscape -->{% endblock %}

{% block sub-head %}
<script>
function toggle(detail_selector){
	if($(detail_selector).is(':hidden')) {
		$(detail_selector).show();
		$(detail_selector + '_toggle').html('[ - ]');
	} else {
		$(detail_selector).hide();
		$(detail_selector + '_toggle').html('[ + ]');
	}
}

function initPage(){
	{% for p in plan_text %}
		toggle("#{{ p.slug }}");
	{% endfor %}
}
$(document).ready(function() { initPage(); });
</script>
{% endblock %}

{% block style %}
	table td {
		padding: 1em;
	}
{% endblock %}

{% block content %}
<div class="row">
	{% for p in plan_text %}
		<div class="col-sm-11 col-sm-offset-1">
			<h3 class="text-left">
				{{ p.title }}
				<a id="{{p.slug}}_toggle" href="." onclick="toggle('#{{p.slug}}'); return false;"></a>
			</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-2" id="{{p.slug}}">
			{% autoescape off %}
				{{ p.template }}
			{% endautoescape %}
		</div>
	{% endfor %}

</div>
{% endblock %}