{% extends "base.html" %}

{% block content %}
<h1>The West Virginia Party</h1>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p class="text-justify">
			The wild, wonderful West Virginia reception will be hosted by Bruce and Barbara Davis 
			in their beautiful backyard the weekend following the ceremony.  Dinner, beverages and 
			West Virginia merriment will be provided.
		</p>
	</div>
</div>

{% if invitation %}
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<p>
				<strong>Party Details</strong>
			</p>
			<p class="text-left">
				Saturday, September 12th, 2015<br/>
				6:00 – 10:00 pm<br/>
				The Davis Home<br/>
				306 Beechwood Est<br/>
				Scott Depot, WV 25560<br/>
			</p>
		</div>
	</div>
{% else %}
	<div>
		Please <a href="{% url 'rsvp' %}">rsvp </a> for more details.
	</div>
{% endif %}

<hr/>
{% endblock %}